<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BREAD (Browse,Read,Edit,Add,Delete)</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>BREAD(Browse,Read,Edit,Add,Delete)</h1>
    <h2>Filters </h2>
    <div class="container">
        <div class="row">
            <div class="col-25">
                <label for="id">ID</label>
            </div>
            <div class="col-75">
                <input type="text" id="id" name="id" placeholder="ID">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="string">String</label>
            </div>
            <div class="col-75">
                <input type="text" id="string" name="String" placeholder="String">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="integer">Integer</label>
            </div>
            <div class="col-75">
                <input type="number" id="integer" name="Integer" placeholder="Integer">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="float">Float</label>
            </div>
            <div class="col-75">
                <input type="number" id="float" name="Float" placeholder="Float">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="date">Date</label>
            </div>
            <div class="col-75">
                <input style="width: 20%;" type="text" id="date" name="Date" placeholder="start date">
                <br>to
                <br>
                <input style="width: 20%;" type="text" id="date" name="Date" placeholder="end date">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="boolean">Boolean</label>
            </div>
            <div class="col-75">
                <select style="background-color: white;" id="boolean" name="Boolean">
                    <option value="">Choose the boolean...</option>
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
            </div>
        </div>
        <br>
        <div class="row">
            <a class="add" href="">Search</a>
        </div>
        </form>
    </div>
    <table border="1" id="customers">
        <tr>
            <th>ID</th>
            <th>String</th>
            <th>Integer</th>
            <th>Float</th>
            <th>Date</th>
            <th>Boolean</th>
            <th>Actions</th>
        </tr>
        <% bread.forEach((item, index)=> { %>
            <tr>
                <td>
                    <%= index + 1 %>
                </td>
                <td>
                    <%= item.String %>
                </td>
                <td>
                    <%= item.Integer %>
                </td>
                <td>
                    <%= item.Float %>
                </td>
                <td>
                    <%= item.Date %>
                </td>
                <td>
                    <%= item.Boolean %>
                </td>
                <td><a class="button" href="/ubah/<%= index %>">Edit</a> &nbsp;
                    <a class="button button2" href="/hapus/<%= index %>">Delete</a>
                </td>
            </tr>
            <% }) %>
    </table>
    <br>
    <div class="pagination">
        <a href="#">Previous</a>
        <a class="active" href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">Next</a>
    </div>
    <br>
    <br>
    <a href="/Add" class="add">Add</a>
</body>

</html>